@import "vendor/bourbon/bourbon";
@import "normalize";

$link-color:               #3567C4;
$link-color-hover:         darken(saturate($link-color, 10%), 10%);
$link-color-visited:       adjust-hue($link-color, 40%);
$link-color-visited-hover: darken(saturate($link-color-visited, 10%), 10%);
$body-color:               #444;
$header-color:             #383838;
$border-color:             #888;
$body-font-rule:           1em / 1.4em "Habibi", $georgia;

body {
  font: $body-font-rule;
  color: $body-color;
  margin: 0em 1em;
}
h1, h2, h3, h4, h5, h6 {
  color: $header-color;
  font-family: $helvetica;
  text-transform: capitalize;
  a:link, a:visited {
    color: $header-color;
    text-decoration: none;
    border: 0;
  }
}
ul {
  padding: 0 0 0 1.5em;
  li {
    list-style-type: square;
  }
}
a {
  &:link {
    text-decoration: none;
    border-bottom: 1px solid;
    color: $link-color;
  }
  &:visited       { color: $link-color-visited; }
  &:hover         { color: $link-color-hover; }
  &:hover:visited { color: $link-color-visited-hover; }
  &:active        { position: relative; top: 2px; }
}
abbr[title] {
  cursor: help;
  letter-spacing: 0.1em;
  text-decoration: none;
  border: 0;
}

#masthead {
  text-align: center;
  a {
    text-decoration: none;
    color: #444;
    border: 0;
  }
  .tagline {
    color: $border-color;
  }
}
#contact {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 1em 0 0;
  address {
    font-style: normal;
    margin-bottom: 1em;
  }
  .email, .tel {
    display: block;
    margin-bottom: 1em;
  }
}
body > section {
  border-bottom: 1px solid $border-color;
  padding: 1em 0;
}
dl#dreyfus {
  margin: 1em 0;
  padding: 0;
  @include clearfix;
  dt, dd {
    margin: 0;
    padding: 0.5em 1em;
    @include box-sizing(border-box);
    border: 1px solid $border-color;
    border-top: none;
    &:first-of-type {
      border-top: 1px solid $border-color;
    }
  }
  dt {
    float: left;
    width: 33%;
    text-align: right;
    font-weight: bold;
    border-right: none;
  }
  dd {
    float: right;
    width: 67%;
  }
}
abbr.dreyfus {
  font-size: 0.8em;
}
article.project, article.work {
  margin-bottom: 3em;
}
article.project:last-child, article.work:last-child {
  margin-bottom: 0;
}
.dates, .work .company, .education .degree {
  margin: 0;
  font: italic normal $body-font-rule;
  text-align: right;
}

