@import "vendor/bourbon/bourbon";
@import "normalize";

$link-color:               #3567C4;
$link-color-hover:         darken(saturate($link-color, 10%), 10%);
$link-color-visited:       adjust-hue($link-color, 40%);
$link-color-visited-hover: darken(saturate($link-color-visited, 10%), 10%);
$body-color:               #444;
$background-color:         #fff;
$header-color:             #383838;
$border-color:             #888;
$divider-color:            lighten($border-color, 33%);
$body-font-rule:           1em / 1.5 "Habibi", $georgia;
$break-width:              14em;

// Base styles for tiny screens
body {
  font: $body-font-rule;
  color: $body-color;
  background: $background-color;
  margin: 1em 1em 0;
  position: relative;
  max-width: $break-width * 4.5;
}
h1, h2, h3, h4, h5, h6 { // Textual header elements
  color: $header-color;
  font-family: $helvetica;
  margin: 1.5em 0 0;
  a:link          { color: darken($link-color, 20%); }
  a:visited       { color: darken($link-color-visited, 20%); }
  a:hover         { color: darken($link-color-hover, 20%); }
  a:hover:visited { color: darken($link-color-visited-hover, 20%); }
}
h1 { font-size: 1.75em; }
h2 { font-size: 1.50em; }
h3 { font-size: 1.25em; }
h4 { font-size: 1.00em; }
h5 { font-size: 1.00em; font-weight: bold; }
h6 { font-size: 1.00em; font-weight: normal; font-style: italic; }
p, ul, .technologies { // Textual block elements
  margin: 0 0 1em;
}
ul {
  padding: 0 0 0 1.5em;
  li {
    list-style-type: square;
  }
}
a {
  &:link {
    text-decoration: none;
    border-bottom: 1px solid;
    color: $link-color;
  }
  &:visited       { color: $link-color-visited; }
  &:hover         { color: $link-color-hover; }
  &:hover:visited { color: $link-color-visited-hover; }
  &:active        { position: relative; top: 1px; }
}
abbr[title] {
  cursor: help;
  letter-spacing: 1px;
  text-decoration: none;
  border: 0;
  &.caps {
    letter-spacing: 0.5px;
    font-size: 0.85em;
  }
}

#masthead {
  text-align: center;
  h1, h2 {
    margin: 0;
  }
  a {
    text-decoration: none;
    color: #444;
    border: 0;
  }
  .tagline {
    color: $border-color;
  }
}
#contact {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 1em 0;
  address {
    font-style: normal;
    margin-bottom: 0.5em;
    .street-address, .extended-address, br, .postal-code {
      display: none;
    }
  }
  .email, .tel {
    display: block;
    margin-bottom: 0.5em;
  }
}
body > section {
  border-bottom: 1px solid $border-color;
  padding: 1em 0;
}
article.project, article.work, article.library {
  margin-bottom: 2em;
  h3 {
    margin-bottom: 0;
  }
}
article.project:last-child, article.work:last-child, article.library:last-child {
  margin-bottom: 0;
}
article.work {
  h3 {
    text-transform: capitalize;
  }
}
.duties h4 {
  display: none;
}
.technologies {
  h4 {
    display: inline;
    font: inherit;
    &:after { content: ": "; }
  }
  ul {
    list-style: none;
    display: inline;
    padding: 0;
    li {
      display: inline;
      &:after { content: ", "; }
      &:last-child:after { content: ""; }
    }
  }
}
.dates, .work .company {
  margin: 0;
  font: italic normal $body-font-rule;
  text-align: right;
}
footer {
  background: $divider-color;
  margin: 0 -1em;
  padding: 1em;
  position: relative;
  top: -1px;
  border-top: 1px solid $border-color;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    text-align: right;
    padding: 0.5em 0;
  }
  a {
    &:after {
      content: " \00BB";
    }
  }
}

@import "small-screens";
@import "big-screens";
@import "print";

