:root {
  --color-ink: #444;
  --color-muted-ink: #ccc;
  --font-sans: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
}

html {
  font: 16px / 1.4 "Habibi", serif;
}
body {
  max-width: 76ch;
  margin: 0 auto;
  padding: 0 1rem;
  color: var(--color-ink);
}
@media print {
  :root {
    --color-ink: #000;
    --color-muted-ink: #888;
  }
  @page {
    margin: 0.75in 0.5in;
  }
  html {
    font-size: 12px;
  }
  body {
    max-width: unset;
    margin: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans);
}
p {
  margin: 0 0 1rem;
}
a:link, a:active {
  color: #1a0dab;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}
a:visited {
  color: #609;
}
@media print {
  a:link, a:active, a:visited {
    text-decoration: none;
    color: inherit;
  }
}
abbr {
  text-decoration: none;
}

.masthead {
  margin: 1rem 0 0;
  font-family: var(--font-sans);
  justify-content: space-between;
  align-items: flex-end;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .masthead {
    display: flex;
    text-align: left;
  }
}
@media print {
  .masthead {
    margin: 0 0 1rem;
  }
}
.vcard .n {
  margin: 0;
}
.tagline {
  display: none;
}
.adr {
  display: none;
}
.email, .tel {
  text-decoration: none;
  display: block;
}

.resume-block {}
.resume-block__header {
  font-size: 1.618rem;
  margin: 2rem 0 0;
}
@media print {
  .resume-block__header {
    display: none;
  }
}

@media print {
  .resume-block {
    margin: 3rem 0 0;
  }
}
.work {
  margin: 0 0 2rem;
}
@media print {
  .work {
    margin: 0 0 1rem;
  }
}
.work__title {
  font-size: 1.309rem;
  margin: 1rem 0 1rem;
}
@media print {
  .work__title {
    margin: 0.5rem 0 0.5rem;
  }
}
.work__company {
  font-weight: bold;
}
.work__duties {
  padding: 0 0 0 1.5rem;
  page-break-inside: avoid;
}
.work__dates {
  margin: 0 0 0.5rem;
  font-style: italic;
}

.subpoints__subpoint {
  border-left: 2px solid var(--color-muted-ink);
  padding: 0 1rem;
}
.subpoints__list {
  list-style: none;
  padding: 0;
  column-gap: 1em;
  margin: 0 0 1rem;
}
@media print, screen and (min-width: 768px) {
  .subpoints__list {
    columns: 2;
  }
}
.subpoints__subpoint {
  margin: 0 0 1rem;
}
.subpoints__subpoint:first-child {
  column-span: all;
}

.subpoint {
  page-break-inside: avoid;
}
.subpoint__title {
  font-size: 1rem;
  margin: 0;
}

.tech {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem;
  font-style: italic;
  font-size: 0.9rem;
}
.tech__item {
  display: inline-block;
}
.tech__item:not(:last-child):after {
  content: ",";
}

.colophon {
  margin-top: 3rem;
  font-family: var(--font-sans);
  opacity: 0.5;
  transition: opacity 0.25s ease-in-out;
}
@media print {
  .colophon {
    display: none;
  }
}
.colophon:hover {
  opacity: 1;
}
.colophon__links {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .colophon__links {
    grid-template-columns: repeat(auto-fit, minmax(9ch, 1fr));
  }
}